*{
    margin: 0;
    padding: 0;
}

body {
    border: 1.25rem solid rgb(220, 111, 213);
    margin: 0;
    height: 140vh; 
    /* display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center; */
    text-align: center;
    /* background-image: url("naya.jpg");
    background-size:cover; */
    background-color: black;
    


   
     /* box-sizing: border-box; */
}

@media (max-width : 600px){
    body{
        height: 100vh;
    }
}


.p{
    height: 70vh;
    /* width: 500px; */
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    /* background-color: brown; */

}

@media (max-width : 600px){
    .p{
        height:30vh;
    }
}

.photo{
    height: 350px;
    width: 350px;
    /* background-color: blue; */
    background-image: url("krishna.jpg");
    border-radius: 2rem;

    background-size: 100% 100%;

}

@media (max-width : 600px){
    .photo{
        height: 150px;
        width: 150px;
    }
}

.ph{
    height: 200px;
    width: 200px;
    border-radius: 1000rem;
    box-shadow: 0 0 1rem rgba(0,0,0,1);

    /* background-color: blue; */
    background-image: url("diya.jpg");
    background-size: 100% 100%;
}

@media (max-width : 600px){
    .ph{
        height: 80px;
        width: 80px;
    }
}


#head{
    background: linear-gradient(to right ,red , red,orange ,pink, rgb(99, 99, 210) ,green);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    font-size:50px;

}
@media (max-width : 600px){
    #head{
    font-size:25px;
    }
}



#para{
    color: wheat;
    font-size: 5vmin;
}
#ra{
    color: wheat;
    font-size: 5vmin;
}

#reset{
    padding: 0.4rem;
    border-radius: 0.3rem;
    background-color: black;

    background: linear-gradient(to right   , rgb(25, 12, 174)  ,rgb(232, 159, 171));
    color: whitesmoke;
}


.ph {
    position: relative;
    animation: bellSwing 2s infinite;
}
@keyframes bellSwing {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
#rah{
    color:coral;
    font-size: 4vmin;

}
.msgg{
    height: 5vmin;
}

/* @media (max-width : 450px){
    .msgg{
        height : 3vmin; 
    }
} */

.hide{
    display: none;;
}